*{
	margin: 0px;
	padding: 0px;
	color: #fff;
}
body{
       background-image:url(https://pixabay.com/get/g6ced68cb226a7b923f8d2e806b7fb4339d10bbed0c0c7b441385d6fe1a50b1acc44b4a3ccf4d22adc2d374fd5edd7ac106b2cb64cf8ec47c8a00cd1b00e3372a_640.jpg) ;
       background-size:cover;
       background-position:100%;
       background-attachment: fixed;
    }
html{
        width: 100%;
        height: 100%;
    }
h1,li{
	text-align: center;
	margin-top: 35px;
}
ol{
	margin-bottom:20px;
}

.bottom{
	width:100%;
	height:20px;
	position:fixed;
	bottom: 20px;
	font-size:12px;
	text-align: center;
	color: #d0d0d0;
}
